
{% load static %}
{% load  wagtailimages_tags wagtailcore_tags custom_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8" />
      <title>
         {% block title %}
         {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
         {% endblock %}
         {% block title_suffix %}
         {% with self.get_site.site_name as site_name %}
         {% if site_name %}- {{ site_name }}{% endif %}
         {% endwith %}
         {% endblock %}
      </title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
         <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
         {# Global stylesheets #}

         <link rel="stylesheet" type="text/css" href="{% static 'css/progymfit_wagtail.css' %}">
         <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
         <link rel="stylesheet" href="{% static 'css/slick.css' %}">
         <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
         <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
         <link rel="stylesheet" href="{% static 'css/styles.css' %}">
          <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
   </head>
   <body>
      <!-- push menu-->
      <div class="pushmenu menu-home5">
         <div class="menu-push">
            <span class="close-left js-close"><i class="ion-ios-close-empty f-40"></i></span>
            <div class="clearfix"></div>
            <form role="search" method="get" id="searchform" class="searchform" action="/search">
               <div>
                  <label class="screen-reader-text" for="q"></label>
                  <input type="text" placeholder="Search for products" value="" name="q" id="q" autocomplete="off">
                  <input type="hidden" name="type" value="product">
                  <button type="submit" id="searchsubmit"><i class="ion-ios-search-strong"></i></button>
               </div>
            </form>
            <ul class="nav-home5 js-menubar">
               <li class="level1 active dropdown">
                  <a href="/">Trang chủ</a>
               </li>
               <li class="level1 active dropdown">
                   <a href="{% url 'product-listing' %}">Sản phẩm</a>
               </li>
               <li class="level1 active dropdown">
                   <a href="{% url 'product-listing' %}">Chính sách đại lý</a>
               </li>
               <li class="level1 active dropdown">
                   <a href="{% url 'product-listing' %}">Tuyển dụng</a>
               </li>
            </ul>
            <h4 class="pt-5 mb-title">Zalo - 0933 775 143</h4>
         </div>
      </div>
      <!-- end push menu-->
      <!-- Account -->
      </div>
      <div class="wrappage">
      <header id="header" class="header-v2">
         <div class="header-center">
            <div class="container container-content">
               <div class="row flex align-items-center justify-content-between">
                  <div class="col-md-4 col-xs-4 col-sm-4 col2 hidden-lg hidden-md">
                     <div class="topbar-right">
                        <div class="element">
                           <a href="#" class="icon-pushmenu js-push-menu">
                              <svg width="26" height="16" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66 41" style="enable-background:new 0 0 66 41;" xml:space="preserve">
                                 <style type="text/css">
                                    .st0 {
                                    fill: none;
                                    stroke: #000000;
                                    stroke-width: 3;
                                    stroke-linecap: round;
                                    stroke-miterlimit: 10;
                                    }
                                 </style>
                                 <g>
                                    <line class="st0" x1="1.5" y1="1.5" x2="64.5" y2="1.5" />
                                    <line class="st0" x1="1.5" y1="20.5" x2="64.5" y2="20.5" />
                                    <line class="st0" x1="1.5" y1="39.5" x2="64.5" y2="39.5" />
                                 </g>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 col-xs-4 col-sm-4 col2 justify-content-center">
                     <a href="#"><img style="height:52px" src="{% static 'images/logo.jpg' %}" alt="" class="img-reponsive"></a>
                  </div>
                  <div class="col-md-9 col-xs-4 col-sm-4 col2 flex justify-content-end">
                     <div class="topbar-left">
                        <div class="element hidden-xs hidden-sm">
                           <a href="#" class="icon-pushmenu js-push-menu">
                              <svg width="26" height="16" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66 41" style="enable-background:new 0 0 66 41;" xml:space="preserve">
                                 <style type="text/css">
                                    .st0 {
                                    fill: none;
                                    stroke: #000000;
                                    stroke-width: 3;
                                    stroke-linecap: round;
                                    stroke-miterlimit: 10;
                                    }
                                 </style>
                                 <g>
                                    <line class="st0" x1="1.5" y1="1.5" x2="64.5" y2="1.5" />
                                    <line class="st0" x1="1.5" y1="20.5" x2="64.5" y2="20.5" />
                                    <line class="st0" x1="1.5" y1="39.5" x2="64.5" y2="39.5" />
                                 </g>
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
         {% block content %}
         {% endblock %}
        
      <!-- Footer -->
      <footer class="footer padding-bottom-50 ">
         <div class="menu-footer v2">
            <div class="container">
               <div class="col-md-8 col-sm-7 menu v2">
                  <ul  >
                     <li class="nav-item">
                        <a  class="nav-link" href="{% url 'product-listing' %}" role="button" >
                                 Sản phẩm
                        </a>
                     </li>
                     {% menu_tags %}
                     {% about_tags %}
                     {% contact_tags %}
                  </ul>
               </div>
               <div class="col-md-4 col-sm-5 social v2 text-right">
                  <ul >
                     <li class="face">
                        <i class="fa fa-facebook"></i>
                        </a>
                     </li>
                     <li class="inst">
                        <i class="fa fa-instagram"></i> 
                        </a>        
                     </li>
                     <li class="yout">
                        <i class="fa fa-youtube-play"></i>
                        </a>            
                     </li>
                     <li class="twit">
                        <i class="fa fa-twitter"></i>
                        </a>
                     </li>
                     <li class="tumb">
                        <i class="fa fa-tumblr"></i> 
                        </a>           
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="container d-none">
            <div class="subs-footer">
               <div class="form-newsletter">
                  <div class="input-group newsletter-group">
                     <span class="wpcf7-form-control-wrap email-632"><input type="email" name="email-632" value="" size="40" class=" newsletter-input form-control" aria-required="true" aria-invalid="false" placeholder="Enter your e-mail"></span>
                     <p></p>
                     <div class="input-group-btn text-center padding-top-20"><input type="submit" value="SUBSCRIBE" class="wpcf7-form-control wpcf7-submit btn btn-default"><span class="ajax-loader"></span><span class="arrow-btn"></span></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container container-content">
            <div class="company-contact">
               <div class="brand pt-5 pb-5">
                  <img class="img-nz" src="{% static 'images/nz.png' %}"></img>
                  <img src="{% static 'images/true.png' %}"></img>
                  <img src="{% static 'images/neat.jpg' %}"></img>
                  <img src="{% static 'images/mb.png' %}"></img>
                  <img src="{% static 'images/hatngucoc.jpg' %}"></img>
                  <img src="{% static 'images/hatlungtung.jpg' %}"></img>
                  <img src="{% static 'images/hatprotein.jpg' %}"></img>
                  <div class="copyright text-center d-lg-none">
                  <div class="registered container">
                     <div class="congthuong">
                        <img src="/static/images/dkct.png">
                     </div>
                  </div>
               </div>
               </div>
               
               <div class="row company-footer">
                  
                  <div class="comp-info col-md-6 col-lg-3 col-sm-12">
                     <p>
                        <h4><span class="text-danger">THÔNG TIN</span> CÔNG TY</h4>
                     </p>
                     <p>
                        <h6>CÔNG TY TNHH PROGYMFIT VIỆT NAM</h6>
                     </p>
                     <p>
                     Nhà nhập khẩu chính hãng và phân phối độc quyền NZ Protein, Neat Nutrition,True Protein, Canada weightgain, ZNMP Protein, MuscleBlaze và sản xuất Hạt Protein.
                     </p>
                  </div>
                  <div class="comp-contact col-md-6 col-lg-5 col-sm-12">
                     <p>
                     Trụ sở: 116/18/20A Đường Phan Huy Ích, Phường 15, Q.Tân Bình,Tp.Hồ Chí Minh
                     </p>
                     <p>
                     Chi nhánh tại Đà Nẵng: 189 Nguyễn Văn Linh, Phường Vĩnh Trung, Quận Thanh Khê, Tp.Đà Nẵng
                     </p>
                     <p>
                        Điện thoại: (028) 3846 2014 (ext: 109-110)
                     </p>
                     <div style="margin:0"  class="row">
                        <div class="col-8 pl-0">
                           <p>
                              Hotline: 0933 775 143
                           </p>
                           <p>
                              Email: progymfitvn@gmail.com
                           </p>
                           
                           <p>
                              Website: https://www.progymfit.vn
                           </p>
                        </div>
                        <div class="col-4 pl-4 d-lg-none">
                           <div class="congthuong">
                              <img class="logo-mobile" src="{% static 'images/logo.jpg' %}" class="pl-4"></img>
                           </div>
                        </div>
                     </div>
                     
                     
                  </div>
                  <div class="copyright text-center col-lg-4 col-sm-12 d-none d-lg-block">
                     <div class="registered">
                        <div class="congthuong">
                           <img src="/static/images/dkct.png">
                        </div>
                     </div>
                     <div class="registered">
                        <div class="congthuong">
                           <img class="logo" src="{% static 'images/logo.jpg' %}"></img>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3 col-sm-12" style="font-size: smaller;">
                     <p>© 2020 CÔNG TY TNHH PROGYMFIT VIỆT NAM</p>
                  </div>
                  <div class="col-lg-9 col-sm-12" style="font-size: small;">
                     <p>
                        Copyrights © 2018 Progymfit.vn. All Rights Reserved.</p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- End Footer -->
      <a href="#" class="zoa-btn scroll_top"><i class="ion-ios-arrow-up"></i></a>
      <script type="text/javascript"  defer='defer' src="{% static 'js/jquery.js' %}"></script>
      <script type="text/javascript"  defer='defer' src="{% static 'js/bootstrap.min.js' %}"></script>
      <script type="text/javascript"  defer='defer' src="{% static 'js/owl.carousel.min.js' %}"></script>
      <script type="text/javascript"  defer='defer' src="{% static 'js/slick.min.js' %}"></script>
      <script type="text/javascript"  defer='defer' src="{% static 'js/countdown.js' %}"></script>
      <script type="text/javascript"  defer='defer' src="{% static 'js/jquery-ui_c2b0c2990b0899f3e3e3d0791bf33206.js' %}"></script>
      <script type="text/javascript"  defer='defer' src="{% static 'js/main.js' %}"></script>
      {% block extra_js %}
      {# Override this in templates to add extra javascript #}
      {% endblock %}
   </body>
</html>

