{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags  static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/product_detail_page.css' %}">
<script type="text/javascript"  defer='defer' src="{% static 'js/product_detail_page.js' %}"></script>

<div class="container">
    <br>
<div class="card border-0">
	<div class="row">
		<aside class="col-lg-5 col-md-8 col-sm-12">
<article class="gallery-wrap">

	{% if self.images %}
		<div class="img-big-wrap">
		{% for block in self.images %}
			{% image block.value fill-400x400 as img %}
			<div class="img-large-wrap d-none" style="background-image:url({{img.url}})"> <a href="#"></a></div>
		{% endfor %}
		</div>
		<div class="img-small-wrap">
		{% for block in self.images %}

				{% if block.block_type == 'image' %}
					{% image block.value fill-100x100 as img_thumb %}
					<div class="item-gallery"> <img src="{{img_thumb.url}}"> </div>
				{% endif %}
		{% endfor %}
		</div>

	{% endif %}

        </article>
    </aside>
		<aside class="col-lg-7 col-md-4 col-sm-12">
			<article >
				<h3 class="title"> <dt>{{ self.name }} </dt></h3>
			<div class="mb-3 mt-3">
				<span class="price-title">Giá :</span>
					<span class="color-price-waanbii">{{self.price}}</span>
			</div>
			{% if self.brief %}
				<dl class="item-property">
				  <dt>Mô tả</dt>
				  <dd><p>{{self.brief}}</p></dd>
				</dl>
			{% endif %}
			<dl class="param param-feature">
			  <dt>Trọng lượng</dt>
			  <dd>{{self.weight}}</dd>
			</dl>
			<div class="mb-3 mt-3">
				<span class="h7 text-success">{% if self.inStock %} Còn hàng {% else %} Hết hàng {% endif %}</span>
			</div>
			</article>
		</aside>

	</div>
</div>


	<div>
		<aside>
			<div id="accordion">
				
				
			{% for desc in self.description %}
				<div class="card p-0">
					{% if desc.block_type == 'title_block' %} 
					<h5 class="mb-0">
						<button class="btn  btn-default" data-toggle="collapse" data-target="#collapseOne{{forloop.counter|add:1}}">
							{% include_block desc %}
						</button>
					  </h5>
					{% else %}
							<div id="collapseOne{{forloop.counter}}" class="collapse hide" data-parent="#accordion">
								<div class="card-body">
									{% include_block desc %}
								</div>
							</div>
					{% endif %}
				</div>
			{% endfor %}
			</div>
		</aside>
    </div>
</div>

{% endblock content %}
