{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags static %}


{% block content %}



{% load static %}
<!-- content -->
<div class="slide v1">
   <div class="js-slider-v4">
      <div class="slide-img ">
         <img src="{% static 'images/32759.jpg' %}" class="img-responsive"></img>
      </div>
   </div>
   <div class="custom">
      <div class="pagingInfo"></div>
   </div>
</div>
<!-- End content -->
<div class="zoa-product-tabs bd-top padding-top-30">
   <div class="container container-content">
      <div class="text-h3 text-center">
         <h3>Sản phẩm</h3>
      </div>
      <ul class="tabs">
         <li class="active"><a data-toggle="tab" href="#all">All</a></li>
         <li><a data-toggle="tab" href="#bean">Bột ngũ cốc</a></li>
         <li><a data-toggle="tab" href="#whey">Whey</a></li>
      </ul>


      <div class="tab-content">

         <div id="all" class="tab-pane fade in active">
            <div class="row">
                {% for category in categories.all %}
                    {% for product in category.products %}
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                            <div class="product-img">
                            {% for block in product.images %}
                                <div class="d-none">
                                    {% if forloop.counter == 1 %}
                                        {% image block.value fill-287x300 as img %}
                                        <img src="{{img.url}}" class="img-fluid" alt="">
                                    {% endif %}
                                </div>
                                <a href=""><img src="{% static 'images/32759.jpg' %}" alt="" class="img-responsive wp-post-image">
                                    <img src="{% static 'images/32759.jpg' %}" alt="" class="img-responsive image-effect"></a>
                                    <div class="product-button-group ">
                                        <div class="shop-now">
                                        <a href="#">Chi tiết </a>
                                        </div>
                                        <div class="quick-view">
                                        <a href="{{product.url}}" >
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info ">
                                    <div class="title-heart">
                                        <h3 class="product-title">
                                        <a href="{{product.url}}">{{ product.title }}</a>
                                        </h3>
                                        <span class="zoa-icon-heart"></span>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                                        </svg>
                                        <span>
                                        <span>{{product.price}}</span>
                                    </div>
                                    <div class="color-group">
                                        <span class="circle gray"></span>
                                        <span class="circle black active"></span>
                                        <span class="circle yellow "></span>
                                        <span class="circle white"></span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
         </div>
         <div id="bean" class="tab-pane fade">
            <div class="row">
                {% for category in categories.bean %}
                    {% for product in category.products %}
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                            <div class="product-img">
                            {% for block in product.images %}
                                <div class="d-none">
                                    {% if forloop.counter == 1 %}
                                        {% image block.value fill-287x300 as img %}
                                        <img src="{{img.url}}" class="img-fluid" alt="">
                                    {% endif %}
                                </div>
                                <a href=""><img src="{% static 'images/32759.jpg' %}" alt="" class="img-responsive wp-post-image">
                                    <img src="{% static 'images/32759.jpg' %}" alt="" class="img-responsive image-effect"></a>
                                    <div class="product-button-group ">
                                        <div class="shop-now">
                                        <a href="#">Chi tiết </a>
                                        </div>
                                        <div class="quick-view">
                                        <a href="{{product.url}}" >
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info ">
                                    <div class="title-heart">
                                        <h3 class="product-title">
                                        <a href="{{product.url}}">{{ product.title }}</a>
                                        </h3>
                                        <span class="zoa-icon-heart"></span>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                                        </svg>
                                        <span>
                                        <span>{{product.price}}</span>
                                    </div>
                                    <div class="color-group">
                                        <span class="circle gray"></span>
                                        <span class="circle black active"></span>
                                        <span class="circle yellow "></span>
                                        <span class="circle white"></span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container ">
   <div class="row">
      <div class=" col-sm-7 col-lg-7 col-sm-7">
         <div class="img-look2">
            <img src="img/home2/look.jpg" alt="" class="img-responsive">
         </div>
      </div>
      <div class=" col-lg-5 col-md-5 col-sm-5">
         <div class="text-look2 padding-bottom-30">
            <div class="entry-body">
               <div class="inner">
                  <h4 >WOMEN</h4>
                  <p class="sub-title  padding-top-20 padding-bottom-30">Spring. </p>
                  <div class="desc bd-top padding-top-30 padding-bottom-30">Canlı renklerin eğlenceli desenlerle buluştuğu Nemi 2018 İlkbahar/Yaz koleksiyonunda “her kadın farklıdır” söyleminden yola çıkarak her zevke uygun pantolonlar stilinize ilham verecek. Modellerimizi zevkle inceleyin...</div>
               </div>
               <a href="" class="btn btn-look2 ">DISCOVERY</a>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<div class="accessories padding-top-30 ">
   <div class="container container-content">
      <div class="row">
         <div class="product-item col-md-3 col-lg-3 col-sm-6 col-xs-6">
            <div class="product-img">
               <img src="img/home1/pd.png" alt="" class="img-responsive">
               <h2>ACCESSORIES</h2>
               <div class="bottom">
                  <span class="line"></span>
                  <p><span>20-60% OFF</span> DEPARTMENT STORE PRICES EVERY DAY! GOTTA GO TO NEML!</p>
               </div>
            </div>
         </div>
         <div class="product-item col-md-3 col-lg-3 col-sm-6 col-xs-6">
            <div class="product-img">
               <a href=""><img src="img/home2/product_5.jpg" alt="" class="img-responsive wp-post-image">
               <img  src="img/home1/product_7.jpg" alt="" class="img-responsive image-effect"></a>
               <div class="product-button-group ">
                  <div class="shop-now">
                     <a href="#">SHOP NOW </a>
                  </div>
                  <div class="quick-view">
                     <a href="#">QUICK VIEW </a>
                  </div>
               </div>
            </div>
            <div class="product-info ">
               <div class="title-heart">
                  <h3 class="product-title">
                     <a href="">Religion Jersey Polo Shirt Lope</a>
                  </h3>
                  <span class="zoa-icon-heart"></span>
               </div>
               <div class="product-price">
                  <span>$124.35</span>
               </div>
               <div class="color-group">
                  <a href="#" class="circle gray"></a>
                  <a href="#" class="circle black active"></a>
                  <a href="#" class="circle yellow "></a>
                  <a href="#" class="circle white"></a>
               </div>
            </div>
         </div>
         <div class="product-item col-md-3 col-lg-3 col-sm-6 col-xs-6">
            <div class="product-img">
               <a href=""><img src="img/home2/product_6.jpg" alt="" class="img-responsive wp-post-image">
               <img  src="img/home1/product_6.jpg" alt="" class="img-responsive image-effect"></a>
               <div class="product-button-group ">
                  <div class="shop-now">
                     <a href="#">SHOP NOW </a>
                  </div>
                  <div class="quick-view">
                     <a href="#">QUICK VIEW </a>
                  </div>
               </div>
            </div>
            <div class="product-info ">
               <div class="title-heart">
                  <h3 class="product-title">
                     <a href="">Religion Jersey Polo Shirt Lope</a>
                  </h3>
                  <span class="zoa-icon-heart"></span>
               </div>
               <div class="product-price">
                  <span>$124.35</span>
               </div>
               <div class="color-group">
                  <a href="#" class="circle gray"></a>
                  <a href="#" class="circle black active"></a>
                  <a href="#" class="circle yellow "></a>
                  <a href="#" class="circle white"></a>
               </div>
            </div>
         </div>
         <div class="product-item col-md-3 col-lg-3 col-sm-6 col-xs-6">
            <div class="product-img">
               <a href=""><img src="img/home2/product_7.jpg" alt="" class="img-responsive wp-post-image">
               <img  src="img/home1/product_5.jpg" alt="" class="img-responsive image-effect"></a>
               <div class="product-button-group ">
                  <div class="shop-now">
                     <a href="#">SHOP NOW </a>
                  </div>
                  <div class="quick-view">
                     <a href="#">QUICK VIEW </a>
                  </div>
               </div>
            </div>
            <div class="product-info ">
               <div class="title-heart">
                  <h3 class="product-title">
                     <a href="">Religion Jersey Polo Shirt Lope</a>
                  </h3>
                  <span class="zoa-icon-heart"></span>
               </div>
               <div class="product-price">
                  <span>$124.35</span>
               </div>
               <div class="color-group">
                  <a href="#" class="circle gray"></a>
                  <a href="#" class="circle black active"></a>
                  <a href="#" class="circle yellow "></a>
                  <a href="#" class="circle white"></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock content %}

