{% extends "base.html" %}

{% load wagtailimages_tags static %}


{% block content %}

<script type="text/javascript"  defer='defer' src="{% static 'js/product_listing_page.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/product_listing_page.css' %}">
<div class="container">
    <ul class="product-listing-container">
    {% for category in categories %}
        {{category.title}}
        {{category.products}}
        {% for product in category.products %}
        {{product}}
            {% for block in product.images %}
                {% if forloop.counter == 1 %}
                    {% image block.value fill-287x300 as img %}
                      <li class="booking-card" style="background-image: url({{img.url}})">
                        <div class="book-container">
                        </div>
                        <div class="informations-container">
                            <a href="{{product.url}}" >
                            <h2 class="title">{{ product.title }} </h2>
                          <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
                    </svg>{{product.price}}</p>
                            </a>
                        </div>
                      </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</ul>






</div>

{% endblock content %}

