

{% load static %}
<!-- content -->
<div class="slide v1">
   <div class="js-slider-v4">
      <div class="slide-img ">
         <img src="{% static 'images/32759.jpg' %}" class="img-responsive"></img>
      </div>
   </div>
   <div class="custom">
      <div class="pagingInfo"></div>
   </div>
</div>
<!-- End content -->
<div class="container d-none">
   <div class="row padding-top-20 padding-bottom-20">
      <div class="col-lg-4 col-md-4 col-sm-4 ">
         <div class="quick">
            <h3 class="widget-heading">
               <a href="">
               <span><span class="sub">New</span> ARRIVALS</span>
               </a>
            </h3>
         </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 ">
         <div class="quick">
            <h3 class="widget-heading">
               <a href="">
               <span><span class="sub">Hot</span> COLLECTION</span>
               </a>
            </h3>
         </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 ">
         <div class="quick">
            <h3 class="widget-heading">
               <a href="">
               <span><span class="sub">Best</span> SELLER</span>
               </a>
            </h3>
         </div>
      </div>
   </div>
</div>
<div class="zoa-product-tabs bd-top padding-top-30">
   <div class="container container-content">
      <div class="text-h3 text-center">
         <h3>Sản phẩm</h3>
      </div>
      <ul class="tabs">
         <li class="active"><a data-toggle="tab" href="#all">All</a></li>
         <li><a data-toggle="tab" href="#bean">Bột ngũ cốc</a></li>
         <li><a data-toggle="tab" href="#whey">Whey</a></li>
      </ul>
      <div class="tab-content">
         <div id="all" class="tab-pane fade in active">
            <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home2/product_1.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_4.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home2/product_2.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_4.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home2/product_3.jpg" alt="" class="img-responsive wp-post-image">
                     <img  src="img/home1/product_4.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="ribbon zoa-sale"><span>-30%</span></div>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info text-left">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Arkasi Volanli Bol Kesim Pamuk Elbise</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span class="old">$124.35</span>
                        <span class="old-1">$96.25</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home2/product_4.jpg" alt="" class="img-responsive wp-post-image">
                     <img  src="img/home1/product_4.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info text-left">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Arkasi Volanli Bol Kesim Pamuk Elbise</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span class="sold">SOLD OUT</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="men" class="tab-pane fade ">
            <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home1/product_1.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_4.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home1/product_2.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_4.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home1/product_3.jpg" alt="" class="img-responsive wp-post-image">
                     <img  src="img/home1/product_4.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="ribbon zoa-sale"><span>-30%</span></div>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info text-left">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Arkasi Volanli Bol Kesim Pamuk Elbise</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span class="old">$124.35</span>
                        <span class="old-1">$96.25</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home1/product_4.jpg" alt="" class="img-responsive wp-post-image">
                     <img  src="img/home1/product_4.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info text-left">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Arkasi Volanli Bol Kesim Pamuk Elbise</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span class="sold">SOLD OUT</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="women" class="tab-pane fade ">
            <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home2/product_2.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_4.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home2/product_1.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_3.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home2/product_3.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_2.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home1/product_4.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_1.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="kids" class="tab-pane fade">
            <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home2/product_2.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_4.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home2/product_1.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_3.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home2/product_3.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_2.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home1/product_4.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_1.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="other" class="tab-pane fade ">
            <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home2/product_2.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_4.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home2/product_1.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_3.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home2/product_3.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_2.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 product-item">
                  <div class="product-img">
                     <a href=""><img src="img/home1/product_4.jpg" alt="" class="img-responsive wp-post-image">
                     <img src="img/product/product_1.jpg" alt="" class="img-responsive image-effect"></a>
                     <div class="product-button-group ">
                        <div class="shop-now">
                           <a href="#">SHOP NOW </a>
                        </div>
                        <div class="quick-view">
                           <a href="#">QUICK VIEW </a>
                        </div>
                     </div>
                  </div>
                  <div class="product-info ">
                     <div class="title-heart">
                        <h3 class="product-title">
                           <a href="">Religion Jersey Polo Shirt Lope</a>
                        </h3>
                        <span class="zoa-icon-heart"></span>
                     </div>
                     <div class="product-price">
                        <span>$124.35</span>
                     </div>
                     <div class="color-group">
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle black active"></a>
                        <a href="#" class="circle yellow "></a>
                        <a href="#" class="circle white"></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container ">
   <div class="row">
      <div class=" col-sm-7 col-lg-7 col-sm-7">
         <div class="img-look2">
            <img src="img/home2/look.jpg" alt="" class="img-responsive">
         </div>
      </div>
      <div class=" col-lg-5 col-md-5 col-sm-5">
         <div class="text-look2 padding-bottom-30">
            <div class="entry-body">
               <div class="inner">
                  <h4 >WOMEN</h4>
                  <p class="sub-title  padding-top-20 padding-bottom-30">Spring. </p>
                  <div class="desc bd-top padding-top-30 padding-bottom-30">Canlı renklerin eğlenceli desenlerle buluştuğu Nemi 2018 İlkbahar/Yaz koleksiyonunda “her kadın farklıdır” söyleminden yola çıkarak her zevke uygun pantolonlar stilinize ilham verecek. Modellerimizi zevkle inceleyin...</div>
               </div>
               <a href="" class="btn btn-look2 ">DISCOVERY</a>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<div class="accessories padding-top-30 ">
   <div class="container container-content">
      <div class="row">
         <div class="product-item col-md-3 col-lg-3 col-sm-6 col-xs-6">
            <div class="product-img">
               <img src="img/home1/pd.png" alt="" class="img-responsive">
               <h2>ACCESSORIES</h2>
               <div class="bottom">
                  <span class="line"></span>
                  <p><span>20-60% OFF</span> DEPARTMENT STORE PRICES EVERY DAY! GOTTA GO TO NEML!</p>
               </div>
            </div>
         </div>
         <div class="product-item col-md-3 col-lg-3 col-sm-6 col-xs-6">
            <div class="product-img">
               <a href=""><img src="img/home2/product_5.jpg" alt="" class="img-responsive wp-post-image">
               <img  src="img/home1/product_7.jpg" alt="" class="img-responsive image-effect"></a>
               <div class="product-button-group ">
                  <div class="shop-now">
                     <a href="#">SHOP NOW </a>
                  </div>
                  <div class="quick-view">
                     <a href="#">QUICK VIEW </a>
                  </div>
               </div>
            </div>
            <div class="product-info ">
               <div class="title-heart">
                  <h3 class="product-title">
                     <a href="">Religion Jersey Polo Shirt Lope</a>
                  </h3>
                  <span class="zoa-icon-heart"></span>
               </div>
               <div class="product-price">
                  <span>$124.35</span>
               </div>
               <div class="color-group">
                  <a href="#" class="circle gray"></a>
                  <a href="#" class="circle black active"></a>
                  <a href="#" class="circle yellow "></a>
                  <a href="#" class="circle white"></a>
               </div>
            </div>
         </div>
         <div class="product-item col-md-3 col-lg-3 col-sm-6 col-xs-6">
            <div class="product-img">
               <a href=""><img src="img/home2/product_6.jpg" alt="" class="img-responsive wp-post-image">
               <img  src="img/home1/product_6.jpg" alt="" class="img-responsive image-effect"></a>
               <div class="product-button-group ">
                  <div class="shop-now">
                     <a href="#">SHOP NOW </a>
                  </div>
                  <div class="quick-view">
                     <a href="#">QUICK VIEW </a>
                  </div>
               </div>
            </div>
            <div class="product-info ">
               <div class="title-heart">
                  <h3 class="product-title">
                     <a href="">Religion Jersey Polo Shirt Lope</a>
                  </h3>
                  <span class="zoa-icon-heart"></span>
               </div>
               <div class="product-price">
                  <span>$124.35</span>
               </div>
               <div class="color-group">
                  <a href="#" class="circle gray"></a>
                  <a href="#" class="circle black active"></a>
                  <a href="#" class="circle yellow "></a>
                  <a href="#" class="circle white"></a>
               </div>
            </div>
         </div>
         <div class="product-item col-md-3 col-lg-3 col-sm-6 col-xs-6">
            <div class="product-img">
               <a href=""><img src="img/home2/product_7.jpg" alt="" class="img-responsive wp-post-image">
               <img  src="img/home1/product_5.jpg" alt="" class="img-responsive image-effect"></a>
               <div class="product-button-group ">
                  <div class="shop-now">
                     <a href="#">SHOP NOW </a>
                  </div>
                  <div class="quick-view">
                     <a href="#">QUICK VIEW </a>
                  </div>
               </div>
            </div>
            <div class="product-info ">
               <div class="title-heart">
                  <h3 class="product-title">
                     <a href="">Religion Jersey Polo Shirt Lope</a>
                  </h3>
                  <span class="zoa-icon-heart"></span>
               </div>
               <div class="product-price">
                  <span>$124.35</span>
               </div>
               <div class="color-group">
                  <a href="#" class="circle gray"></a>
                  <a href="#" class="circle black active"></a>
                  <a href="#" class="circle yellow "></a>
                  <a href="#" class="circle white"></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

