{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags static %}

<link rel="stylesheet" href="{% static 'css/contact_page.css' %}">

{% block content %}
<div class="slide v1">
   <div class="js-slider-v4">
      <div class="slide-img ">
         <img src="{% static 'images/32759.jpg' %}" class="img-responsive"></img>
      </div>
   </div>
   <div class="custom">
      <div class="pagingInfo"></div>
   </div>
</div>

    <div class="container body">


        {% for desc in self.description %}
            <div class="row">
                {% include_block desc %}
             </div>
        {% endfor %}

    </div>

{% endblock content %}