article .container img{
    padding-top: 15px;
    width: 100%;
}

.container.body{
    padding-top: 15px;
    padding-bottom: 15px;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}